/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1140px;
  height: 100vh;
  margin: 0 auto;
}

/* Layout */
body {
  font-family: "Nunito",sans-serif;
}
header{
  background: #f8f9fc;
}
a{
  text-decoration: none;
}
h1,
h2{
  text-transform: capitalize;
}
h2{
  font-size: 28px;
}
span{
  cursor: pointer;
}
li{
  list-style: none;
}

/* Utilities */
.dspy-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-align{
  text-align: center;
}
.green{
  color: #2eca8b;
}
/* Buttons */
button{
  cursor: pointer;
}
.btn-blue{
  font-size: 18px;
  color: #fff;
  background-color: #2f55d4;
  border-color: #2f55d4;
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
  padding: 8px 20px;
  border-radius: 6px;
  outline: none;
}
.btn-transparent{
  font-size: 18px;
  background: #f8f9fc;
  color: #2f55d4;
  border-color: #2f55d4;
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
  padding: 8px 20px;
  border-radius: 6px;
  outline: none;
  margin-left: 10px;
}

/* Header */
/* Navbar */
.nav-bar {
  padding: 20px;
  margin-bottom: 60px;
}
.logo-dark,
.icons-list{
  flex-basis: 30%;
}
.menu-list{
  flex-basis: 40%;
}
.logo-dark img{
  max-width: 160px;
}
.menu-list li,
.icons-list li{
  list-style: none;
  padding: 0 15px;
}
.menu-list a{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #3c4858;
}
.menu-list a:hover{
  color: #4265d8;
  transition: color 0.4s;
}
.icons-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icons-list li i{
  font-size: 18px;
  background: #f8f9fc;
  padding: 10px;
  margin-left: 40px;
}
.icons-list li .colored-icons{
  font-size: 16px;
  color: #4265d8;
  background: #e4e9f8;
  border-radius: 5px;
  padding: 10px;
  margin-left: 4px;
}

/* Header-top */
.header-top{
  margin-bottom: 90px;
}
.text-developer{
  margin: 30px;
}
.text-developer h1{
  width: 70%;
  font-size: 40px;
  padding: 10px 0;
  color: #161c2d;
}
.text-developer p{
  color: #8492a6;
  font-size: 18px;
  margin-bottom: 18px;
}
.text-developer button{
  margin: 20px 10px 30px 0;
}
.text-developer .development{
  display: inline-block;
  width: 110px;
  font-size: 12px;
  border-radius: 25px;
  border: 1px solid #2f55d4;
  color: #2f55d4;
  background: #e4e9f8;
  padding: 5px 5px;
  text-align: center;
}
.text-developer .version{
  color: #8492a6;
}
.img-developer{
  padding-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
}

/* Header-bottom */
.header-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-bottom img{
  width: 90px;
}

/* Main */
.main-content{
  padding: 15px;
}
/* Section features - main */
.features{
  padding: 100px 0;
}
.features .p-features,
.quickstart .p-features2{
  width: 60%;
  margin: 30px 0;
}
.features p{
  color: #8492a6;
  font-size: 18px;
  margin: 20px;
}
.features span,
.quickstart span{
  font-weight: bold;
  color: #2f55d4;
}
.features-container{
  margin: 60px 0 100px;
}
.list-features{
  height: 320px;
  border: 1px solid #8492a6;
}
.list-features:nth-child(2){
  margin: 0 15px;
}
.list-features:nth-child(3){
  margin-right: 15px;
}
.list-features i{
  font-size: 24px;
  color: #4265d8;
  background: #e4e9f8;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}
.list-features h5{
  font-size: 20px;
  margin: 20px;
}
.list-features a{
  margin: 20px;
  color: #4265d8;
}
.quickstart>span{
  margin-bottom: 20px;
}
.black-box{
  width: 720px;
  height: 150px;
  background: #3c4858;
  margin: 20px auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.black-box .white-list{
  width: 660px;
  height: 50px;
  font-size: 24px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #4f5a69;
  margin: 20px auto 10px;
  border-radius: 5px;
}
.install-black-box span:nth-child(1){
  margin-left: 32px;
}
.install-black-box span{
  text-align: left;
  color: #8492a6;
  padding-right: 10px;
}
.organize-work-check{
  margin-right: 380px;
}
.organize-work-check .fa-check-circle{
  padding-left: 15px;
}

.icons-list{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}




/* Section documentation - main */

/* Section rates - main */

/* Section information - main */


/* Footer */

/* Footer-top */

/* Footer-bottom */
