/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 1200px;
  margin: 0 auto;
}

/* Layout */
body {
  font-family: "Nunito",sans-serif;
}
header{
  background: #f8f9fc;
  height: 890px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
a{
  text-decoration: none;
}
h2{
  font-size: 28px;
}
span{
  cursor: pointer;
}
li{
  list-style: none;
}

/* Utilities */
.dspy-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-align{
  text-align: center;
}
.green{
  color: #2eca8b;
}
.gray{
  color: #8492a6;
}
.capitalize{
  text-transform: capitalize;
}
.landrick{
  font-weight: bold;
  color: #2f55d4;
}
.border-btm{
  border-bottom: 1px solid #e9ecef;
}
.margin-external{
  margin: 0 20px;
}
.padding-top-bottom{
  padding: 5px 0;
}
.relative{
  position: relative;
}
.border-top-h{
  border-top: 1px solid #e9ecef;
  margin-bottom: 50px;
}
.border-top-f{
  border-top: 0.1px solid #e9ecef24;
  margin-top: 30px;
}

/* Buttons */
button{
  cursor: pointer;
}
.btn-blue{
  font-size: 18px;
  color: #fff;
  background-color: #2f55d4;
  border-color: #2f55d4;
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
  padding: 8px 20px;
  border-radius: 6px;
  outline: none;
}
.btn-transparent{
  font-size: 18px;
  background: #f8f9fc;
  color: #2f55d4;
  border-color: #2f55d4;
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
  padding: 8px 20px;
  border-radius: 6px;
  outline: none;
  margin-left: 10px;
}
.btn-large{
  width: 80%;
  font-size: 18px;
  color: #fff;
  background-color: #2f55d4;
  border-color: #2f55d4;
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
  padding: 8px 20px;
  border-radius: 6px;
  outline: none;
  margin: 20px 20px;
}
.btn-info{
  font-size: 18px;
  color: #fff;
  background-color: #2f55d4;
  border-color: #2f55d4;
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
  padding: 8px 20px;
  border-radius: 25px;
  outline: none;
  margin: 20px 20px;
  position: absolute;
  right: 27%;
}
.btn-footer{
  width: 200px;
  height: 40px;
  font-size: 16px;
  color: #2f55d4;
  background-color: #212d51;
  border: 1px solid rgba(47, 85, 212, 0.1);
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
  padding: 8px 20px;
  border-radius: 6px;
  outline: none;
}

/* Effects btn */
.btn-blue:hover,
.btn-large:hover,
.btn-info:hover{
  background-color: #2443ac;
  border-color: #2443ac;
  transition: 0.4s;
}
.btn-transparent:hover,
.btn-footer:hover{
  background: #2f55d4;
  color: #fff;
  transition: 0.4s;
}

/* Header */
/* Navbar */
.nav-bar {
  padding: 20px;
  margin-bottom: 60px;
}
.logo-dark,
.icons-list{
  flex-basis: 30%;
}
.menu-list{
  flex-basis: 40%;
}
.logo-dark img{
  max-width: 140px;
}
.menu-list li{
  list-style: none;
  padding: 0 15px;
}
.menu-list a{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #3c4858;
}
.menu-list i{
  font-size: 14px;
  margin-left: 5px;
}
.menu-list a:hover{
  color: #2f55d4;
  transition: color 0.4s;
}
.icons-list,
.icons-list-i{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.icons-list li{
  padding: 0 4px;
}
.icons-list li i{
  cursor: pointer;
  font-size: 18px;
  background: #f8f9fc;
  padding: 10px;
  margin-left: 40px;
}
.icons-list li .colored-icons{
  font-size: 16px;
  color: #4265d8;
  background: #e4e9f8;
  border-radius: 5px;
  padding: 10px;
  margin-left: 4px;
  box-shadow: 0 3px 5px 0 rgba(47, 85, 212, 0.3);
}
.icons-list li .colored-icons:hover{
  background: #2f55d4;
  color: #fff;
  transition: 0.4s;
}

/* Header-top */
.header-top{
  margin-bottom: 90px;
}
.text-developer{
  margin: 30px;
}
.text-developer h1{
  width: 70%;
  font-size: 40px;
  padding: 10px 0;
  color: #161c2d;
}
.text-developer p{
  color: #8492a6;
  font-size: 18px;
  margin-bottom: 18px;
}
.text-developer button{
  margin: 20px 10px 30px 0;
}
.text-developer .development{
  display: inline-block;
  width: 110px;
  font-size: 12px;
  border-radius: 25px;
  border: 1px solid #2f55d4;
  color: #2f55d4;
  background: #e4e9f8;
  padding: 5px 5px;
  text-align: center;
}
.img-developer{
  padding-left: 30px;
  margin-right: 30px;
  margin-top: 40px;
}

/* Header-bottom */
.header-bottom{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-bottom img{
  width: 90px;
}

/* Main */
.main-content{
  padding: 15px;
}
/* Section features - main */
.features{
  padding: 100px 0;
}
.features .p-features,
.quickstart .p-features2{
  width: 60%;
  margin: 30px 0;
}
.features p{
  color: #8492a6;
  font-size: 18px;
  margin: 20px;
}
.features-container,
.rates-container{
  margin: 60px 0 100px;
}
.list-features{
  height: 320px;
  border: 1px solid #e9ecef;
  box-shadow: 0 0 3px rgba(60,72,88,0.15);
  border-radius: 5px;
}
.list-features:hover{
  transform: scale(1.1);
  transition: .4s;
}
.list-features:nth-child(2){
  margin: 0 25px;
}
.list-features:nth-child(3){
  margin-right: 25px;
}
.list-features i{
  font-size: 24px;
  color: #4265d8;
  background: #e4e9f8;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}
.list-features h5{
  font-size: 20px;
  margin: 20px;
}
.list-features a{
  margin: 20px;
  color: #4265d8;
}
.quickstart>span{
  margin-bottom: 20px;
}
.black-box{
  width: 720px;
  height: 150px;
  background: #3c4858;
  margin: 20px auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.black-box .white-list{
  width: 669px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  background: #4f5a69;
  margin: 20px auto 10px;
  border-radius: 5px;
  border: 0.2px solid #e9ecef;
}
.black-box .white-list li{
  padding: 0 60px;
}
.black-box .white-list li:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3c4858;
  border-radius: 5px;
  width: 185px;
  height: 45px;
}
.install-black-box span:nth-child(1){
  margin-left: 32px;
}
.install-black-box span{
  text-align: left;
  color: #8492a6;
  padding-right: 10px;
}
.organize-work-check{
  margin-right: 380px;
}
.organize-work-check span{
  color: #8492a6;
}
.organize-work-check .fa-check-circle{
  padding-left: 15px;
}

/* Section documentation - main */
.documentation{
  display: flex;
}

/* Documentation-left */
.documentation-left h2{
  margin: 20px 0;
  width: 60%
}
.documentation-left p{
  width: 90%;
  margin-bottom: 20px;
}
.documentation-left li i,
.list-rates li i {
  color: #2f55d4;
}
.read-btn{
  margin-top: 25px;
}
.read-btn i{
  padding-left: 5px;
}

/* Documentation-right */
.documentation-right img{
  width: 500px;
}

/* Section rates - main */
.rates{
  margin-top: 80px;
}
.rates .p-title{
  width: 50%;
  margin: 20px 0 0;
}
.list-rates{
  width: 340px;
  height: 540px;
  border-radius: 5px;
  border: 1px solid #e9ecef;
  border-bottom: 3px solid #adb5bd;
  box-shadow: 0 0 3px rgba(60,72,88,0.15);
  position: relative;
}
.list-rates:hover{
  border-bottom: 3px solid #2f55d4;
  transform: scale(1.1);
  transition: .4s;
  margin-right: 10px;
}
.list-rates .best{
  position: absolute;
  top: 5%;
  right: -1%;
  width: 101px;
  color: #fff;
  background-color: #f17425;
  border-radius: 5px;
  border-color: #f7961c;
  transform: rotate(38deg);
}
.triangle-topleft {
  border-top: 16px solid #f17425;
  border-right: 16px solid transparent;
  position: absolute;
  right: 23%;
  top: 0%;
  transform: rotate(-7deg);
}
.triangle-bottomright {
  border-bottom: 16px solid #f17425;
  border-left: 16px solid transparent;
  position: absolute;
  right: 0%;
  top: 11%;
  transform: rotate(-13deg);
}
.list-rates h2{
  font-size: 30px;
  margin-bottom: 10px;
}
.list-rates .month,
.list-rates .p-info{
  margin: 20px 20px;
  padding-bottom: 10px;
}
.list-rates:nth-child(2){
  margin: 0 40px;
}
.list-rates .plan-option{
  display: inline-block;
  width: 100px;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid #2f55d4;
  color: #2f55d4;
  background: #e4e9f8;
  padding: 10px 10px;
  text-align: center;
  margin: 20px;
}

/* Section information - main */
.information {
  margin-bottom: 100px;
}
.information .p-title{
  width: 50%;
  margin: 20px 0;
}
.information .input-info{
  width: 510px;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 25px;
  outline: none;
  padding: 15px 30px 15px;
}

/* Footer */
footer{
  background: #202942;
  height: 500px;
  padding: 20px;
}

/* Footer-top */
.footer-top {
  display: flex;
  justify-content: center;
}
.footer-top .logo-light img{
  width: 140px;
}

/* Common style gneral columns */
.footer-top h3{
  color:#fff;
}
.text-footer{
  color: #adb5bd;
}
.footer-top .p-footer{
  margin: 20px 0;
}
.second-column,
.third-column,
.fourth-column{
  width: 22%;
}
.first-column,
.second-column,
.third-column {
  margin-right: 25px;
}
.second-column h3,
.third-column h3,
.fourth-column h3{
  margin-bottom: 20px;
}
.second-column ul li,
.third-column ul li{
  padding-bottom: 10px;
  cursor: pointer;
}
.second-column i,
.third-column i{
  font-size: 14px;
  margin-right: 10px;
}

/* First column */
.first-column{
  width: 28%;
}
.first-column ul{
  display: flex;
  justify-content: flex-start;
}
.first-column ul a{
  border: 1px solid #fff;
  text-align: center;
  border-radius: 6px;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-column ul a:hover{
  background: #2f55d4;
  border: #2f55d4;
  color: #fff;
  transition: 0.4s;
}
.first-column ul li{
  margin-right: 10px;
}
.first-column i{
  font-size: 16px;
  padding: 10px;
}

/* Fourth column */
.fourth-column small,
.footer-bottom small{
  color: #E43F52;
}
.fourth-column input{
  display: flex;
  position: relative;
  width: 200px;
  height: 40px;
  background: #27314f;
  border: 0;
  padding-left: 35px;
  margin: 20px 0;
}
.fourth-column .mail-icon{
  margin-top: -48px;
  margin-left: 10px;
  position: absolute;
}

/* Footer-bottom */
.footer-bottom {
  display: flex;
  align-items: center;
  position: relative;
}
.footer-bottom p{
  width: 80%;
  margin-top: 50px;
}
.footer-bottom li{
  padding-right: 10px;
}
.footer-bottom .list-card{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 50px;
}
.footer-bottom img{
  width: 50px;
}

/* Tooltip */
.tooltip{
  width: 45px;
  height: 45px;
  background: #2f55d4;
  position: absolute;
  right: -8%;
  bottom: 1%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tooltip i{
  font-size: 20px;
}
.tooltip:hover{
  background-color: #2443ac;
  border-color: #2443ac;
  color: #fff;
  transition: 0.4s;
}
