<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landrick</title>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Font-family -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <!-- Container -->
  <div id="app" class="container">
    <!-- Header -->
    <header>
      <!-- Navbar -->
      <nav class="nav-bar dspy-flex">
        <div class="logo-dark">
          <img src="./img/logo-dark.png" alt="logo-dark">
        </div>
        <div class="menu-list dspy-flex">
          <ul v-for="list in listMenu">
            <!-- fix icons (vue) -->
            <li>
              <a href="#">{{list.text}}</a>
             <i class="${family} ${prefix}${name}"></i>
            </li>
          </ul>
        </div>
        <div class="icons-list">
          <ul>
            <li>
              <i class="fas fa-search"></i>
              <i class="fab fa-github colored-icons"></i>
              <i class="fab fa-stack-overflow colored-icons"></i>
              <i class="far fa-user colored-icons"></i>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Header-top -->
      <div class="header-top dspy-flex">
        <div class="text-developer">
          <span class="development">Development</span>
          <h1 class="capitalize">A complete developer toolset</h1>
          <p>Launch your campaign and benefit from our expertise
             on designing and managing conversion centered
             bootstrap4 html page.</p>
          <button class="btn-blue" type="button" name="button">Get Started</button>
          <button class="btn-transparent"type="button" name="button">Documentation</button>
          <div class="version gray">
            <span>Current Version: v2.6.0</span>
          </div>
        </div>
        <div class="img-developer">
          <img src="./img/about.png" alt="">
        </div>
      </div>
      <!-- Header-bottom -->
      <div class="header-bottom dspy-flex">
        <ul v-for="company in listCompanies">
          <li>
            <img class="companies-logo"
                   :src="`./img/${company.logoCompany}.svg`"
                   :alt="company.logoCompany">
          </li>
        </ul>
      </div>
    </header>

    <!-- Main -->
    <main class="main-content">
      <!-- Section features -->
      <section class="features">
        <h2 class="capitalize">Key features</h2>
        <p class="p-features">Start working with <span class="landrick">Landrick</span> that can provide everything
           you need to generate awareness, drive traffic, connect.</p>
        <div class="dspy-flex features-container">
          <ul class="list-features">
            <li>
              <i class="fas fa-layer-group"></i>
              <h5>Modular</h5>
              <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
              <a href="#">Read More > </a>
            </li>
          </ul>
          <ul class="list-features">
            <li>
              <i class="fas fa-desktop"></i>
              <h5>Responsive</h5>
              <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
              <a href="#">Read More > </a>
            </li>
          </ul>
          <ul class="list-features">
            <li>
              <i class="fas fa-th-large"></i>
              <h5>Customizable</h5>
              <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
              <a href="#">Read More > </a>
            </li>
          </ul>
          <ul class="list-features">
            <li>
              <i class="fas fa-expand-arrows-alt"></i>
              <h5>Scalable</h5>
              <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
              <a href="#">Read More > </a>
            </li>
          </ul>
        </div>
        <div class="quickstart">
          <span class="dspy-flex landrick">Quickstart</span>
          <h2 class="awesome text-align capitalize">awesome isn't it? let's dive in!</h2>
          <div class="dspy-flex">
            <p class="p-features2 text-align">Start working with <span class="landrick">Landrick</span> that can provide everything
               you need to generate awareness, drive traffic, connect.</p>
          </div>
          <!-- Black box -->
          <div class="black-box">
            <ul class="white-list">
              <li>npm</li>
              <li>nuget</li>
              <li>spm</li>
              <li>github</li>
            </ul>
            <div class="install-black-box">
              <span><small class="green">$</small> npm install</span>
              <span><small class="green">-g</small> claps.js</span>
            </div>
          </div>
          <div class="organize-work-check text-align">
            <i class="far fa-check-circle green"></i>
            <span>Organize your data</span>
            <i class="far fa-check-circle green"></i>
            <span>Work with any team</span>
          </div>


        </div>
      </section>
      <!-- Section documentation -->
      <section class="documentation">
        <!-- Documentation-left -->
        <div class="documentation-left">
          <h2>Build tools and <br> extensive documentation</h2>
          <p class="gray">You can combine all the Landrick templates into a single
             one, you can take a component from the Application theme and use it in the Website.</p>
          <ul>
            <li class="padding-top-bottom">
              <i class="far fa-check-circle"></i>
              <span class="gray capitalize">Digital marketing solutions for tomorrow</span>
            </li>
            <li class="padding-top-bottom">
              <i class="far fa-check-circle"></i>
              <span class="gray capitalize">Our talented & experienced marketing agency</span>
            </li>
            <li class="padding-top-bottom">
              <i class="far fa-check-circle"></i>
              <span class="gray capitalize">Create you own skin to match your brand</span>
            </li>
          </ul>
          <button class="btn-blue read-btn" type="button" name="button">Read More <i class="fas fa-arrow-right"></i></button>
        </div>

        <!-- Documentation-right -->
        <div class="documentation-right">
          <img src="./img/1.png" alt="">
        </div>
      </section>
      <!-- Section rates -->
      <section class="rates">
        <!-- General rates -->
        <h2 class="text-align">Our rates for developer from landrick team</h2>
        <div class="dspy-flex">
          <p class="text-align p-title">Start working with <span class="landrick">Landrick</span> that can provide everything
             you need to generate awareness, drive traffic, connect.</p>
        </div>
        <div class="dspy-flex rates-container">
          <!-- List-rates 1 -->
          <div class="list-rates">
            <span class="plan-option">Basic</span>
            <h2 class="margin-external">$9.00</h2>
            <span class="gray month">Per Month</span>
            <p class="gray border-btm p-info">All the basis for businesses that are just getting started</p>

            <ul>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
            </ul>
            <button class="btn-large margin-external" type="button" name="button">Buy Now</button>
            <span class="margin-external gray">*No credit card required</span>
          </div>

          <!-- List-rates 2 -->
          <div class="list-rates">
            <span class="plan-option">Business</span>
            <h2 class="margin-external">$39.00</h2>
            <span class="gray month">Per Month</span>
            <p class="gray border-btm p-info">Better for growing businesses that want more customers</p>

            <ul>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
            </ul>
            <button class="btn-large margin-external" type="button" name="button">Buy Now</button>
            <span class="margin-external gray">*No credit card required</span>
          </div>

          <!-- List-rates 3 -->
          <div class="list-rates">
            <span class="plan-option">Enterprise</span>
            <h2 class="margin-external">$79.00</h2>
            <span class="gray month">Per Month</span>
            <p class="gray border-btm p-info">Advanced features for pros who need more customization</p>

            <ul>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
            </ul>
            <button class="btn-large margin-external" type="button" name="button">Buy Now</button>
            <span class="margin-external gray">*No credit card required</span>
          </div>

        </div>
      </section>
      <!-- Section information -->
      <section>
      
      </section>
    </main>

    <!-- Footer -->
    <footer>
      <!-- Footer-top -->
      <div class="footer-top">

      </div>
      <!-- Footer-bottom -->
      <div class="footer-bottom">

      </div>



    </footer>





  </div>




    <!-- Js -->
    <script src="./js/main.js"></script>
</body>
</html>
