<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landrick</title>
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Font-family -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <!-- Container -->
  <div id="app">
    <!-- Header -->
    <header>
     <div class="container">
      <!-- Navbar -->
      <nav class="nav-bar dspy-flex">
        <div class="logo-dark">
          <img src="./img/logo-dark.png" alt="logo-dark">
        </div>
        <div class="menu-list dspy-flex">
          <ul v-for="list in listMenu">
            <li>
              <a href="#">{{list.text}}
                <i :class="`${list.family} ${list.nameIcon}`"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="icons-list">
          <ul class="icons-list-i">
            <li v-for="iconNavGray in iconsNavGray">
              <i class="gray" :class="`${iconNavGray.family} ${iconNavGray.nameIcon}`"></i>
            </li>
            <li v-for="iconNav in iconsNav">
              <i class="colored-icons" :class="`${iconNav.family} ${iconNav.nameIcon}`"></i>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Header-top -->
      <div class="header-top dspy-flex">
        <div class="text-developer">
          <span class="development">Development</span>
          <h1 class="capitalize">A complete developer toolset</h1>
          <p>Launch your campaign and benefit from our expertise
             on designing and managing conversion centered
             bootstrap4 html page.</p>
          <button class="btn-blue" type="button" name="button">Get Started</button>
          <button class="btn-transparent"type="button" name="button">Documentation</button>
          <div class="version gray">
            <span>Current Version: v2.6.0</span>
          </div>
        </div>
        <div class="img-developer">
          <img src="./img/about.png" alt="">
        </div>
      </div>
     </div>

     <!-- Section border-top -->
     <section class="border-top-h"></section>

     <div class="container">
        <!-- Header-bottom -->
        <div class="header-bottom dspy-flex">
          <ul v-for="company in listCompanies">
            <li>
              <img class="companies-logo"
                     :src="`./img/${company.logoCompany}.svg`"
                     :alt="company.logoCompany"
              >
            </li>
          </ul>
        </div>
     </div>
    </header>

    <!-- Main -->
    <main class="main-content container">

      <!-- Section features -->
      <section class="features">
        <h2 class="capitalize">Key features</h2>
        <p class="p-features">Start working with <span class="landrick">Landrick</span> that can provide everything
           you need to generate awareness, drive traffic, connect.</p>
        <div class="dspy-flex features-container">
          <ul class="list-features">
            <li>
              <i class="fas fa-layer-group"></i>
              <h5>Modular</h5>
              <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
              <a href="#">Read More > </a>
            </li>
          </ul>
          <ul class="list-features">
            <li>
              <i class="fas fa-desktop"></i>
              <h5>Responsive</h5>
              <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
              <a href="#">Read More > </a>
            </li>
          </ul>
          <ul class="list-features">
            <li>
              <i class="fas fa-th-large"></i>
              <h5>Customizable</h5>
              <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
              <a href="#">Read More > </a>
            </li>
          </ul>
          <ul class="list-features">
            <li>
              <i class="fas fa-expand-arrows-alt"></i>
              <h5>Scalable</h5>
              <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
              <a href="#">Read More > </a>
            </li>
          </ul>
        </div>
        <div class="quickstart">
          <span class="dspy-flex landrick">Quickstart</span>
          <h2 class="awesome text-align capitalize">awesome isn't it? let's dive in!</h2>
          <div class="dspy-flex">
            <p class="p-features2 text-align">Start working with <span class="landrick">Landrick</span> that can provide everything
               you need to generate awareness, drive traffic, connect.</p>
          </div>

          <!-- Black box -->
          <div class="black-box">
            <ul class="white-list">
              <li>npm</li>
              <li>nuget</li>
              <li>spm</li>
              <li>github</li>
            </ul>
            <div class="install-black-box">
              <span><small class="green">$</small> npm install</span>
              <span><small class="green">-g</small> claps.js</span>
            </div>
          </div>
          <div class="organize-work-check text-align">
            <i class="far fa-check-circle green"></i>
            <span>Organize your data</span>
            <i class="far fa-check-circle green"></i>
            <span>Work with any team</span>
          </div>

        </div>
      </section>

      <!-- Section documentation -->
      <section class="documentation">

        <!-- Documentation-left -->
        <div class="documentation-left">
          <h2>Build tools and <br> extensive documentation</h2>
          <p class="gray">You can combine all the Landrick templates into a single
             one, you can take a component from the Application theme and use it in the Website.</p>
          <ul>
            <li class="padding-top-bottom">
              <i class="far fa-check-circle"></i>
              <span class="gray capitalize">Digital marketing solutions for tomorrow</span>
            </li>
            <li class="padding-top-bottom">
              <i class="far fa-check-circle"></i>
              <span class="gray capitalize">Our talented & experienced marketing agency</span>
            </li>
            <li class="padding-top-bottom">
              <i class="far fa-check-circle"></i>
              <span class="gray capitalize">Create you own skin to match your brand</span>
            </li>
          </ul>
          <button class="btn-blue read-btn" type="button" name="button">Read More <i class="fas fa-arrow-right"></i></button>
        </div>

        <!-- Documentation-right -->
        <div class="documentation-right">
          <img src="./img/1.png" alt="">
        </div>
      </section>

      <!-- Section rates -->
      <section class="rates">

        <!-- General rates -->
        <h2 class="text-align">Our rates for developer from landrick team</h2>
        <div class="dspy-flex">
          <p class="text-align p-title gray">Start working with <span class="landrick">Landrick</span> that can provide everything
             you need to generate awareness, drive traffic, connect.
          </p>
        </div>
        <div class="dspy-flex rates-container">

          <!-- List-rates 1 -->
          <div class="list-rates">
            <span class="plan-option">Basic</span>
            <h2 class="margin-external">$9.00</h2>
            <span class="gray month">Per Month</span>
            <p class="gray border-btm p-info">All the basis for businesses that are just getting started</p>

            <!-- List check -->
            <ul>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
            </ul>
            <button class="btn-large margin-external" type="button" name="button">Buy Now</button>
            <span class="margin-external gray">*No credit card required</span>
          </div>

          <!-- List-rates 2 -->
          <div class="list-rates">
            <span class="best text-align">Best</span>
            <span class="plan-option">Business</span>
            <h2 class="margin-external">$39.00</h2>
            <span class="gray month">Per Month</span>
            <p class="gray border-btm p-info">Better for growing businesses that want more customers</p>

            <!-- List check -->
            <ul>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
            </ul>
            <button class="btn-large margin-external" type="button" name="button">Buy Now</button>
            <span class="margin-external gray">*No credit card required</span>
          </div>

          <!-- List-rates 3 -->
          <div class="list-rates">
            <span class="plan-option">Enterprise</span>
            <h2 class="margin-external">$79.00</h2>
            <span class="gray month">Per Month</span>
            <p class="gray border-btm p-info">Advanced features for pros who need more customization</p>

            <!-- List check -->
            <ul>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
              <li class="margin-external padding-top-bottom">
                <i class="far fa-check-circle"></i>
                <span class="gray capitalize">full access</span>
              </li>
            </ul>
            <button class="btn-large margin-external" type="button" name="button">Buy Now</button>
            <span class="margin-external gray">*No credit card required</span>
          </div>

        </div>
      </section>

      <!-- Section information -->
      <section class="information">
        <h2 class="text-align">Want to be among the first to find out?</h2>
        <div class="dspy-flex">
          <p class="text-align p-title gray">
             Start working with <span class="landrick">Landrick</span> that can provide everything
             you need to generate awareness, drive traffic, connect.
          </p>
        </div>

        <!-- Input information -->
        <div class="dspy-flex relative">
          <input class="input-info"type="text" name="" value="" placeholder="Email Address">
          <button class="btn-info" type="button" name="button">Get started</button>
        </div>
      </section>
    </main>

    <!-- Footer -->
    <footer>
     <div class="container">

        <!-- Footer-top -->
        <div class="footer-top">
          <!-- First column -->
          <div class="first-column logo-light">
            <img src="./img/logo-light.png" alt="">
            <p class="text-footer p-footer">Start working with Landrick that
               can provide everything you need to generate awareness,
               drive traffic, connect.</p>
             <ul>
               <li v-for="social in listSocial">
                 <a href="#">
                   <i class="text-footer" :class="`${social.family} ${social.nameSocial}`"></i>
                 </a>
               </li>
             </ul>
          </div>
          <!-- Second column -->
          <div class="second-column text-footer">
            <h3>Company</h3>
            <ul v-for="list2 in listFooter2">
              <li>
                <i :class="`${list2.family} ${list2.nameIcon}`"></i>
                {{ list2.listCompany }}
              </li>
            </ul>
          </div>
          <!-- Third column -->
          <div class="third-column text-footer">
            <h3 class="capitalize">Usefull links</h3>
            <ul v-for="list3 in listFooter3">
              <li>
                <i :class="`${list3.family} ${list3.nameIcon}`"></i>
                {{ list3.listCompany }}
              </li>
            </ul>
          </div>
          <!-- Fourth column -->
          <div class="fourth-column text-footer">
            <h3>Newsletter</h3>
            <p class="p-footer">Sign up and receive the latest tips via email.</p>
            <span>Write your email <small>*</small></span>
            <input class="text-footer" type="text" name="" value="" placeholder="Your email:">
            <i class="far fa-envelope mail-icon"></i>
            <button class="btn-footer" type="button" name="button">Subscribe</button>
          </div>
        </div>
     </div>

      <!-- Section border-top -->
      <section class="border-top-f"></section>

      <div class="container">
        <!-- Footer-bottom -->
        <div class="footer-bottom">
          <p class="text-footer">© 2020 Landrick. Design with <small>&hearts;</small> by Shreethemes.</p>
          <div class="list-card">
            <ul v-for="payment in listPayments">
              <li>
                <img class="payments-logo"
                       :src="`./img/${payment.card}.png`"
                       :alt="payment.card"
                >
              </li>
            </ul>
          </div>

          <!-- Tooltip -->
          <div class="tooltip">
            <i class="fas fa-arrow-up"></i>
          </div>

        </div>
      </div>
    </footer>

  </div>


    <!-- Js -->
    <script src="./js/main.js"></script>
</body>
</html>
